@charset "UTF-8";

:root{
    --primary-color: #042940;
    --secondary-color: #DBF227;
    --tertiary-color: #D6D58E;
    --background-color: azure;
    --sooth-gray: #f1f9fc;
    --article-background: white;
    --max-width: 960px;
    --min-width: 540px;
    --solid-border: 1px solid #0000005a;
    --shadow: 0px 0px 4px 2px #00000040;
}



body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    max-width: var(--max-width);
    min-width: var(--min-width);
    margin: auto;
    background-color: var(--background-color);
}



main{
    background-color: var(--sooth-gray);
    box-shadow: var(--shadow);
}




/*
HEADER
*/
header{
    padding: 16px;
    margin-top: 6px;
    margin-bottom: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: var(--shadow);
}
header h1{
    margin: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*MENU STRUCTURE*/
nav ul{
    display: flex;
    flex-direction: row;
}
nav{
    background-color: var(--primary-color);
    margin-bottom: 10px;
    box-shadow: var(--shadow);
    padding: 1px;
}
nav a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: -21px;
    margin-right: 32px;
    text-decoration: none;
    color: var(--secondary-color);
    padding: 17px 8px 17px 8px;
}
nav a:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}





/*
GRID STRUCTURE
*/
.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.contents{
    padding: 0px 12px 0px 12px;
    margin: 14px 12px 0px 12px;
}
.sidebar{
    padding: 0px 12px 0px 12px;
    margin: 14px 12px 0px 12px;
}

.widget{
    display: flex;
    flex-direction: row;
    background-color: var(--sooth-gray);
    margin-top: 12px;
    padding: 8px;
    box-shadow: var(--shadow);
}
.widget article{
    margin: 12px;
}





/*
SECTIONS AND ARTICLES
*/
section article{
    padding: 4px 10px 0px 10px;
    margin-top: 22px;
    margin-bottom: 22px;
}
section article h1{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 4px;
    margin: 12px;
}
section article h1:hover{
    box-shadow: var(--shadow);
}
article{
    background-color: var(--article-background);
    box-shadow: var(--shadow);
}
article p{
    padding: 0px 12px 22px 12px;
}




footer{
    margin: 12px 0px 20px 0px;
    padding: 12px;
    background-color: var(--sooth-gray);
    box-shadow: var(--shadow);
}