.main{
    color: black;
    background-color: azure;
    border: 1px solid black;
    margin: 10px auto 50px auto;
    width: 70%;
  }
  .main > h1{
    text-align: center;
  }
  div{
    color: azure;
    background-color: brown;
    border: 1px solid black;
    margin: 10px;
  }


.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    grid-auto-rows: minmax(100px, auto);

    background-color: azure;
    width: 60%;
    margin: 50px auto;
  }
  .one {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    background-color: rgba(165, 42, 42, 0.608);
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
  }
  .four {
    grid-column: 2;
    grid-row: 3;
  }
  .five {
    grid-column: 2;
    grid-row: 4;
  }
  .six {
    grid-column: 3;
    grid-row: 4;
  }

  
  .container{
      grid-template-columns: 3fr 2fr;
      grid-template-rows: repeat(5, 100px);
      display: grid;
      margin: 50px auto;
      width: 60%;
      background-color: azure;
  }
    .box1{      
    grid-column: 1;
    grid-row: 1;
  }
    .box2{      
    grid-column: 1;
    grid-row: 2;
}
    .box3{      
    grid-column: 1;
    grid-row: 3;
}
    .box4{      
    grid-column: 1;
    grid-row: 4;
}
    .box5{      
    grid-column: 1;
    grid-row: 5;
}
    .box6{      
    grid-column: 2;
    grid-row: 1 / 6;
}