@charset "UTF-8";

/*
VARIABLES
*/
:root{
    --onyx-color: #202224;
    --gold-color: gold;
    --azure-color: azure;
    --background-color: #d8e1e8;
    --h1-hover-color: rgb(37, 37, 37);
    --prime-structure-size: 960px;
    --universal-box-shadow: 1px 1px 5px 1px #0000004c;
}



body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--azure-color);
    text-align: justify;
    font-size: medium;
}



/*
HEADER SETTINGS
*/
header{
    width: var(--prime-structure-size);
    box-shadow: var(--universal-box-shadow);
    margin: 0px auto 0px auto;
    position: relative;
}
/*
WEBSITE TITLE SETTINGS
*/
header > h1{
    background-color: var(--onyx-color);
    color: var(--azure-color);
    position: absolute;
    top: 120px;
    left: 25px;
    padding: 5px;
    border-radius: 2px;
}
header > h1:hover{
    color: var(--gold-color);
}
header > img{
   width: 100%;
   height: 100%;
   margin-bottom: -3px;
}

nav{
    background-color: var(--onyx-color);
    width: var(--prime-structure-size);
    box-shadow: var(--universal-box-shadow);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    margin-top: 10px;
    padding-top: 13px;
    padding-bottom: 13px;    
}
nav > a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--azure-color);
    text-decoration: none;
    margin-left: 10px;
    padding: 13px;
}
nav > a:hover{
    color: var(--h1-hover-color);
    background-color: var(--gold-color);
    box-shadow: var(--universal-box-shadow);
}



/*
[GRID] - CONTAINER BOX WITH CHILDREN CONTENTS AND SIDEBAR
*/
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: var(--universal-box-shadow);
}


/*
MAIN STRUCTURE AND VALUES INHERITED BY THEIR CHILDREN SECTIONS, ARTICLES, ETC.
*/
main{
    background-color: var(--background-color);
    width: var(--prime-structure-size);
    margin: 8px auto;    
}
main > section{
    padding: 15px;
}
section > article{
    background-color: var(--azure-color);
    box-shadow: var(--universal-box-shadow);
    margin: 10px auto 20px auto;
    padding: 2px 15px 15px 15px;    
}
article > h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: left;
    background-color: var(--onyx-color);
    color: var(--azure-color);
    box-shadow: var(--universal-box-shadow);
    padding: 5px;    
}
article > h1:hover{
    background-color: var(--gold-color);
    color: var(--h1-hover-color);
}
article > img:hover{
    box-shadow: var(--universal-box-shadow);
}
aside{
    margin-top: 8px;
    text-align: end;
    padding: 2px;
    background-color: var(--background-color);
    box-shadow: 1px 1px 1px 1px #0000004a;
}
aside:hover{
    background-color: var(--onyx-color);
    color: var(--azure-color);
    box-shadow: 1px 1px 1px 1px #0000004a;
}



/*
FLEX-BOX (TO INSERT IMAGES IN THE SAME ROW)
*/

span{
    display: flex;
    flex-direction: row;
}
span > img{
    width: 250px;
}
span > img:hover{
    width: 250px;
    height: 100%;
    box-shadow: var(--universal-box-shadow);
}
span > p{
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 17px;
    height: 350px;
    overflow-y: hidden;
}
span > p:hover{
    padding-right: 0px;
    overflow-y: scroll;
}
img{
    width: 100%;
    height: 100%;
}




/*
RESIZE SPECIFIC ARTICLES
*/
article#secondArticle > span > p{
    height: 230px;
}


@keyframes fade{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes fade{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes fade {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-o-keyframes fade {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-ms-keyframes fade {
    0% {opacity:0;}
    100% {opacity:1;}
}



/*
RODAPÉ
*/
footer{
    margin: 0px auto;
    width: var(--prime-structure-size);
    padding-bottom: 30px;
}
footer > p{
    padding: 25px;
    color: var(--azure-color);
    background-color: var(--onyx-color);
    box-shadow: var(--universal-box-shadow);    
}
footer > p:hover{
    color: var(--gold-color);   
}