@charset "UTF-8";

:root{
    --primary-color: #0c6a3d;
    --secondary-color: azure;
    --tertiary-color: #D6D58E;
    --background-color: azure;
    --sooth-gray: #f1f9fc;
    --article-background: white;
    --max-width: 960px;
    --min-width: 740px;
    --solid-border: 1px solid #0000005a;
    --shadow: 0px 0px 4px 2px #00000040;
    --blue-shadow: 0px 0px 4px 3px #2b9ecc8e;
}
/*#d4e3f6*/
/*#024959*/
/*#214f39   (green)*/
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    max-width: var(--max-width);
    min-width: var(--min-width);
    margin: auto;
    background-color: var(--background-color);
}



main{
    background-color: var(--sooth-gray);
    box-shadow: var(--shadow);
}




/*
HEADER
*/
header{
    padding: 16px;
    margin-top: 6px;
    margin-bottom: 10px;
    background-color: var(--primary-color);
    
    box-shadow: var(--shadow);

    display: flex;
    flex-direction: row;
    position: relative;
}
header a{
    text-decoration: none;
}
header h1{
    margin: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 26px;
    color: var(--secondary-color);
}
header h1:hover{
    color: var(--tertiary-color);
    text-decoration: none;
}
/*SUBTITLE*/
header p{
    color: var(--secondary-color);
    position: absolute;
    top: 58px;
    left: 112px;
}
header p:hover{
    color: var(--tertiary-color);
}
header img{
    width: 80px;
    height: 80px;
}


/*MENU STRUCTURE*/
nav ul{
    display: flex;
    flex-direction: row;
}
nav{
    background-color: var(--primary-color);
    margin-bottom: 10px;
    box-shadow: var(--shadow);
    padding: 1px;
}
nav a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: -21px;
    margin-right: 32px;
    text-decoration: none;
    color: var(--secondary-color);
    padding: 17px 8px 17px 8px;
}
nav a:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: var(--blue-shadow);
    transition: 0.4s ease-in-out;
}
@keyframes fadeIn{
    from {opacity: .4}
    to {opacity: 1}
}
.fadeIn{
    animation-name: fadeIn;
    animation-duration: 1s;
}







/*
GRID STRUCTURE
*/
.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.contents{
    padding: 0px 8px 0px 8px;
    margin: 14px 12px 0px 10px;
}
.sidebar{
    padding: 0px 8px 0px 8px;
    margin: 14px 12px 0px 10px;
}

.widget{
    display: flex;
    flex-direction: row;
    background-color: var(--sooth-gray);
    margin-top: 12px;
    padding: 8px;
    box-shadow: var(--shadow);
}
.widget article{
    margin: 12px;
}





/*
SECTIONS AND ARTICLES
*/
section article{
    padding: 4px 16px 0px 16px;
    margin-top: 12px;
    margin-bottom: 16px;
}
section article h1{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 4px;
    padding-left: 6px;
    border-radius: 2px;
}
section article h1:hover{
    transition: 0.4s ease;
    box-shadow: var(--blue-shadow);
}
article{
    background-color: var(--article-background);
    box-shadow: var(--shadow);
    display: inline-block;
}
article:hover{
    transition: 0.4s ease;
    box-shadow: var(--blue-shadow);
}
article p{
    padding: 0px 12px 22px 12px;
    text-indent: 22px;
}
.contents article img{
    float: left;
    margin-bottom: 16px;
    margin-right: 10px;
    width: 40%;
    height: 100%;
    box-shadow: var(--shadow);
}
aside{
    padding: 12px;
}
.sidebar article img{
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow);
}



footer{
    margin: 12px 0px 20px 0px;
    padding: 12px;
    background-color: var(--sooth-gray);
    box-shadow: var(--shadow);
}





/*
HOLERITE
*/
.holerite{
    padding: 0px 16px 0px 16px;
    margin-top: 12px;
    margin-bottom: 16px;
}
.holerite h1{
    padding: 2px;
    padding-left: 6px;
    border-radius: 2px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.holerite h1:hover{
    transition: 0.4s ease;
    box-shadow: var(--blue-shadow);
}
.holerite{
    background-color: var(--article-background);
    box-shadow: var(--shadow);
    display: inline-block;
}
.holerite:hover{
    transition: 0.4s ease;
    box-shadow: var(--blue-shadow);
}







* {
    box-sizing:border-box
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}
.slideshow-container img{
    transition: 0.4s ease;
    box-shadow: var(--shadow);
}
.slideshow-container img:hover{
    transition: 0.4s ease;
    box-shadow: var(--blue-shadow);
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 17px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: #00000098;
  margin-bottom: 8px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}












.transparencia{
    position: relative;
    font-size: 20px;
    background-color: var(--primary-color);
    
    padding: 18px;
    border-radius: 4px;
}
.transparencia a{
    text-decoration: none;
    color: var(--secondary-color);
    margin: auto;
    padding: 18px;
}
.transparencia:hover{
    background-color: #21774e;
    box-shadow: var(--blue-shadow);
    transition: 0.4s ease;
}
.transparencia img{
    position: absolute;
    top: 9px;
    left: 196px;
    width: 56px;
    height: 50px;
    overflow: hidden;
}