@charset "UTF-8";

/*
VARIABLES
*/
:root{
    --lazuli-color: #243e92;
    --gold-color: gold;
    --azure-color: azure;
    --background-color: #e1f0ef;
    --h1-hover-color: #243e92;
    --prime-structure-size: 960px;
    --universal-box-shadow: 1px 1px 5px 1px #0000004c;
}



body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: azure;
    text-align: justify;
    font-size: medium;
}




header{
    background-color: var(--lazuli-color);
    margin: 0px auto;
    width: var(--prime-structure-size);
    box-shadow: var(--universal-box-shadow);
    border: 1px solid black;
}
header > h1{
    color: var(--azure-color);
    margin-top: 0px;
    padding-left: 15px; 
    padding-bottom: 8px;
}
header > h1:hover{
    color: var(--gold-color);
}
header > img{
   width: 100%;
}



nav{
    background-color: var(--lazuli-color);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-top: 13px;
    padding-bottom: 13px;
    width: var(--prime-structure-size);
    box-shadow: var(--universal-box-shadow);
}
nav > a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--azure-color);
    text-decoration: none;
    margin-left: 10px;
    padding: 13px;
}
nav > a:hover{
    color: var(--h1-hover-color);
    background-color: var(--gold-color);
    box-shadow: var(--universal-box-shadow);
}



/*
[GRID] - CONTAINER BOX WITH CHILDRENS CONTENTS AND SIDEBAR
*/
.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: var(--universal-box-shadow);    
}
.sidebar{
    margin-left: 15px;
}
.sidebar > article > img{
    width: 100%;
}



/*
MAIN STRUCTURE AND VALUES INHERITED BY THEIR CHILDREN SECTIONS, ARTICLES, ETC.
*/
main{
    background-color: var(--background-color);
    margin: 8px auto;
    width: var(--prime-structure-size);
}
main > section{
    padding: 15px;
}
section > article{
    background-color: var(--azure-color);
    margin: 10px auto 20px auto;
    padding: 2px 15px 15px 15px;
    box-shadow: var(--universal-box-shadow);
}
article > h1{
    background-color: var(--lazuli-color);
    color: var(--azure-color);
    padding: 5px;
    box-shadow: var(--universal-box-shadow);
}
article > h1:hover{
    background-color: var(--gold-color);
    color: var(--h1-hover-color);
}
article > img:hover{
    box-shadow: var(--universal-box-shadow);
}
aside{
    margin-top: 8px;
    text-align: end;
    background-color: var(--background-color);
}



/*
FLEX-BOX (TO INSERT IMAGES IN THE SAME ROW)
*/
span{
    display: flex;
    flex-direction: row;
}
span > img{
    width: 250px;
}
span > img:hover{
    width: 250px;
    height: 100%;
    box-shadow: var(--universal-box-shadow);
}
span > p{
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 17px;
    height: 350px;
    overflow-y: hidden;
}
span > p:hover{
    padding-right: 0px;
    overflow-y: scroll;
}
img{
    width: 250px;
    height: 100%;
}




/*
RESIZE SPECIFIC ARTICLES
*/
article#secondArticle > span > p{
    height: 230px;
}


@keyframes fade{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes fade{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes fade {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-o-keyframes fade {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-ms-keyframes fade {
    0% {opacity:0;}
    100% {opacity:1;}
}



/*
RODAPÉ
*/
footer{
    margin: 0px auto;
    width: var(--prime-structure-size);
    padding-bottom: 30px;
}
footer > p{
    padding: 25px;
    color: var(--azure-color);
    background-color: var(--lazuli-color);
    box-shadow: var(--universal-box-shadow);    
}
footer > p:hover{
    color: var(--gold-color);   
}